/*å…¬ç”¨å®šä¹‰*/
@charset "utf-8";
*:focus{outline:none;}
input{ line-height:normal;}
body a,.tm{
-webkit-transition: all .2s linear;
transition: all .2s linear;
cursor:pointer;
}
input,select,textarea,div{FONT-FAMILY:'Microsoft YaHei';}
body {margin:0px;font-size: 12px;background: #b2d9dc;	color: #2b2b2b;}
a {	text-decoration: none;	color: #2b2b2b;}
a:hover {text-decoration: none;color: #666666;}
ul,li,tr,td,dl,dt,dd{list-style-type:none;margin:0px;padding:0px;}
li{ overflow:hidden;}
a img{text-decoration: none;margin: 0px;padding: 0px;border:none;}
.f{ float:left; overflow:hidden;}
.r{ float:right; overflow:hidden;}
.bai,.bai a{ color:#FFFFFF;}
.hong,.hong a{ color:#ff0000;}
.huang,.huang a{ color:#faaf19;}
.lan,.lan a{ color:#399abf;}
.lv,.lv a{ color:#2293d1;}
.hui,.hui a{color:#909090;}
.hui a:hover{color:#fff;}
.xi12{ font-size:12px;}
.xi13{ font-size:13px;}
.xi14{ font-size:14px;}
.xi15{ font-size:15px;}
.xi16{ font-size:16px;}
.xi17{ font-size:17px;}
.xi18{ font-size:18px;}
.xi19{ font-size:19px;}
.xi20{ font-size:20px;}
.xi21{ font-size:21px;}
.xi22{ font-size:22px;}
.xi23{ font-size:23px;}
.xi24{ font-size:24px;}
.xi25{ font-size:25px;}
.xi26{ font-size:26px;}
.xi27{ font-size:27px;}
.xi28{ font-size:28px;}
.xi29{ font-size:29px;}
.xi30{ font-size:30px;}
.xi31{ font-size:31px;}
.xi32{ font-size:32px;}
.xi33{ font-size:33px;}
.xi34{ font-size:34px;}
.xi35{ font-size:35px;}
.xi36{ font-size:36px;}
.xi37{ font-size:37px;}
.xi38{ font-size:38px;}
.xi39{ font-size:39px;}
.xi40{ font-size:40px;}
.cu{ font-weight:bold;}
.xi{ font-weight:lighter;}
.mg{ margin-left:auto; margin-right:auto; overflow:hidden; width:1170px;}
.mg2{ margin-left:auto; margin-right:auto; overflow:hidden;}
.cen{ text-align:center;}
.flexslider { position: relative; height:527px; overflow: hidden; background: url(../img/loading.gif) 50% no-repeat; margin-bottom:80px;}
.slides { position: relative; z-index: 1;}
.slides li { height:527px;}
.flex-control-nav { position: absolute; bottom: 10px; z-index: 2; width: 100%; text-align: center; margin-left:-38px;}
.flex-control-nav li { display: inline-block; width: 14px; height: 14px; margin: 0 5px; *display: inline; zoom: 1;}
.flex-control-nav a { display: inline-block; width: 14px; height: 14px; line-height: 40px; overflow: hidden; background: url(../img/dot.png) right 0 no-repeat; cursor: pointer;}
.flex-control-nav .flex-active { background-position: 0 0;}

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a { text-decoration:none; display: block; width: 40px; height: 48px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8);  background:url(../img/arr.png) no-repeat; text-indent:-999em}
.flex-direction-nav .flex-prev { left: -50px; background-position:0 0 }
.flex-direction-nav .flex-next { right: -50px; background-position:-132px 0}
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px;}
.flexslider:hover .flex-next { opacity: 0.7; right: 10px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default;}
.con1_pic img,.con2lx img,.con2rx img,.con3cs img,.cs img,.cs img,.cs img,.cs img,.cs img,.cs img{
-webkit-transform: scale(1, 1);
-moz-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
transform: scale(1, 1);
-webkit-transition-duration: 500ms;
-moz-transition-duration: 500ms;
-o-transition-duration: 500ms;
transition-duration: 500ms;
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out; cursor:pointer;
}
.con1_pic img:hover,.con2lx img:hover,.con2rx img:hover,.con3cs img:hover,.cs img:hover,.cs img:hover,.cs img:hover,.cs img:hover,.cs img:hover,.cs img:hover{
-webkit-transform: scale(1.08, 1.08);
-moz-transform: scale(1.08, 1.08);
-ms-transform: scale(1.08, 1.08);
-o-transform: scale(1.08, 1.08);
transform: scale(1.08, 1.08);
-webkit-transition-duration: 500ms;
-moz-transition-duration: 500ms;
-o-transition-duration: 500ms;
transition-duration: 500ms;
-webkit-transition-timing-function: ease-out;
-moz-transition-timing-function: ease-out;
-o-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.tm:hover{opacity:0.85; filter:alpha(opacity=85);}
.cur{ cursor:pointer;}
.xiahuaxian{ text-decoration:underline;}
.shanchuxian{ text-decoration:line-through;}
.mengban{ display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:9999990;}
/*é¡µé¢*/
.topz{ height:147px; background:#FFFFFF;}
.topr li{ float:left; line-height:54px; height:54px; margin:48px 13px 0 13px;}
.topr li a{ display:block; color:#000000; padding:0 22px;}
.topr li a:hover{ color:#399abf; background:#e1f0d1;border-radius:10px;}
.banner{ height:860px; background:url(../img/index_06.jpg) center 0 no-repeat;}
.con1z{ background:#FFFFFF;}
.con1_title{ line-height:150px;}
.con1_pic img{ border:25px solid #fff; margin-left:540px;}
.con1_pic{ position:relative; z-index:2;}
.con1_txt{ margin-top:-345px; height:410px; background:#eaf0f8; margin-bottom:50px;}
.con1_txts{ margin-left:70px; line-height:55px; margin-top:85px;}
.con1_txtc{ margin-left:70px; line-height:25px; width:410px;}
.con1_txtx{ margin-left:70px; width:110px; height:40px; line-height:40px; background:#23bad7; margin-top:40px; position:relative; z-index:3;}
.con2l{ width:566px; padding-top:155px;}
.con2l li{ height:735px;}
.con2ls{ background:#4b5758; height:315px; line-height:60px; text-indent:95px;}
.con2lx{ margin-top:-255px;}
.con2lx img{ border:40px solid #fff;}
.con2r{ width:566px;}
.con2r li{ height:735px;}
.con2rs{ background:#4b5758; height:315px; line-height:570px; text-indent:95px; margin-top:-254px;}
.con2rx img{ border:40px solid #fff;}
.con3z{ background:#eaf0f8;}
.con3s3{ line-height:50px;}
.con3s li{ float:left; width:50%; padding-bottom:50px;}
.con3s ul{ width:80%; margin:0 auto;}
.con3x{ height:200px; background:#4b5758; margin-bottom:80px; margin-top:-403px;}
.con3c{ height:504px;}
.con3cs img{ border:25px solid #fff;}
.con3cc{ line-height:60px;}
.con3c li{ float:left; width:33.33%;}
.con3c ul{ width:90%; margin:0 auto;}
.footsz{ background:#4a4b54; padding:50px 0;}
.footxz{ background:#020d11; line-height:70px;}
.footsr{ width:200px;}
.footsr li{ line-height:40px;}
.banner_ny{ height:782px; position:relative;}
.banner_ny_txt{ position:absolute; bottom:0; left:50%; margin-left:-585px; height:200px; background:#4a4b54;}
.banner_ny_txtl{ padding-left:150px; line-height:200px; padding-right:40px;}
.banner_ny_txtr{ line-height:34px; height:34px; border-bottom:2px solid #fff; margin-top:80px; width:700px;}
.con_ny{ background:#4b5758;}
.con_oherl{ width:330px; padding:50px 0;}
.con_oherl li{ line-height:50px;}
.con_oherr{ width:700px; padding:50px 0; width:531px; margin-right:200px; line-height:30px;}
.con_oherrx{ margin:50px 0 0 0;}
.con_oherrx a{ display:block; float:right; width:150px; height:50px; line-height:50px; background:#b2dadc;border-radius:50px;}
.con_portifolio{ width:860px; line-height:30px; padding:50px 0;}
.con_contact1{ line-height:60px; padding-top:50px; text-indent:200px;}
.con_contact3{ padding:50px 200px; line-height:60px;}






body {
    font-family: noto sans tc,noto sans,microsoft yahei,microsoft jhenghei,Arial,arial,monospace,sans-serif,lucida grande,tahoma,verdana;
    font-size: 12pt;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    line-height: 1.5;
}






















































