/*
 * Sawarabi Mincho (Japanese) https://fonts.google.com/earlyaccess
 */
@import url('https://fonts.googleapis.com/earlyaccess/sawarabimincho.css');

/* ************************************************************** */
/* common                                                         */
/* ************************************************************** */
html, body {
  height: 100%;
  font-size: 14px;
  line-height: 1.6em;
  font-family: "Sawarabi Mincho",-apple-system,BlinkMacSystemFont,游明朝,"Yu Mincho",YuMincho,"Helvetica Neue","ヒラギノ明朝 ProN W6", HiraMinProN-W6,メイリオ,Meiryo,serif;
  margin:0 auto;
  text-align:center;
}


/* ************************************************************** */
/* footer                                                         */
/* ************************************************************** */
footer {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  text-align: left;
  background-color: #000;
  border-top: 1px solid #2d2c2a;
  box-sizing: border-box;
  transition: margin-left .5s;
}
.footer_wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}
.footer_wrapper>ul {
  position: relative;
  display: flex;
  width: 100%;
}
.footer_wrapper>ul:nth-child(1)>li:nth-child(1),
.footer_wrapper>ul:nth-child(2)>li:nth-child(1) {
  position: relative;
  display: flex;
  align-items: center;
}
.footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a {
  line-height: 0;
}
.footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:not(:nth-child(3))>img {
  display: block;
}
.footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(3)>img {
  display: block;
}
.footer_wrapper>ul:nth-child(2)>li:nth-child(1)>img {
  display: block;
}
.footer_wrapper>ul:nth-child(2)>li:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.footer_wrapper>ul:nth-child(2)>li:nth-child(2)>a {
  display: block;
  line-height: 0;
  margin-left: auto;
  margin-bottom: .5em;
}
.footer_wrapper>ul:nth-child(2)>li:nth-child(2)>a>img {
  display: block;
  width: 100%;
}
.copy_right {
  color: #acacac;
  font-family: Arial;
  font-weight: lighter;
  line-height: 1em;
  letter-spacing: 0;
}


/* ************************************************************** */
/* media query                                                    */
/* ************************************************************** */
/* pc: */
@media all and (min-width: 1370px) {
  /* top menu */
  .info_wrapper {
    left: 5%;
    width: calc( 100% - 10% - 425px );
  }
  .top_info>li>div {
    display: table-cell;
  }
  .top_info>li:not(:last-child)>div {
    padding-bottom: .2em;
  }
  .top_info>li>div:nth-child(2) {
    padding-left: 1em;
  }
  .special_link {
    right: 5%;
  }
  .special_link>a>img {
    width: 300px;
  }
  /* footer */
  .footer_wrapper {
    width: 90%;
  }
}
/* pc-tab */
@media all and (max-width: 1369px) and (min-width: 768px) {
  /* top menu */
  .info_wrapper {
    left: 2.5%;
    width: calc( 100% - 5% - 425px );
  }
  .top_info>li>div {
    display: block;
  }
  .top_info>li:not(:last-child)>div:nth-child(2) {
    padding-bottom: .2em;
  }
  .top_info>li>div:nth-child(2) {
    padding-left: .5em;
  }
  .special_link {
    right: 2.5%;
  }
  .special_link>a>img {
    width: 200px;
  }
  /* footer */
  .footer_wrapper {
    width: 95%;
  }
}
/* pc: , pc-tab */
@media all and (min-width: 768px) {
  html, body {
    background: url(null) fixed;
    background-color: #0a0603;
    background-image: none;
  }
  body {
    color:#fff;
    letter-spacing: .1em;
  }
  #wide_view {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  #narrow_view {
    display: none;
  }
  #top_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 0;
  }

  .background_img {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
  .background_img::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
  }
  .background_img.ds1,
  .background_img.ds2,
  .background_img.ds3 {
    animation: show_bg 10s;
  }
  .background_img.ds1 {
    background-position: right center;
    background-image: url('../../img/top/TOP_img_DS1.jpg');
  }
  .background_img.ds2 {
    background-position: left center;
    background-image: url('../../img/top/TOP_img_DS2.jpg');
  }
  .background_img.ds3 {
    background-position: center center;
    background-image: url('../../img/top/TOP_img_DS3.jpg');
  }

  .center_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
  .center_menu>img {
    display: block;
    width: 600px;
    line-height: 0;
    margin-bottom: .75em;
  }
  .center_menu>ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-top: .75em;
  }
  .center_menu>ul>li {
    padding: 0;
    box-sizing: border-box;
  }
  .center_menu>ul>li:nth-child(1) { width: calc( 1.2em * 3.882 ); }
  .center_menu>ul>li:nth-child(2) { width: calc( 1.2em * 6.728 ); }
  .center_menu>ul>li:nth-child(3) { width: calc( 1.2em * 5.047 ); }
  .center_menu>ul>li:nth-child(4) { width: calc( 1.2em * 9.522 ); }
  .center_menu>ul>li:not(:last-child) {
    margin-right: 4em;
  }
  .center_menu>ul>li>a {
    line-height: 0;
    opacity: .6;
    transition: opacity .5s;
  }
  .center_menu>ul>li>a:hover {
    opacity: 1;
  }
  .center_menu>ul>li>a>img {
    display: block;
    height: 1.2em;
    line-height: 0;
  }

  .info_wrapper {
    position: absolute;
    display: block;
    bottom: 2em;
    text-align: left;
  }
  .info_wrapper>img {
    display: block;
    height: 1em;
    line-height: 0;
    margin-bottom: 1em;
  }
  .top_info {
    display: table;
    margin-bottom: 2.5em;
    color: #cbcbcb;
  }
  .top_info>li {
    display: table-row;
  }
  .top_info>li>div {
    font-size: .95em;
  }
  #top_link {
    display: flex;
    flex-direction: row;
  }
  #top_link>a {
    font-size: .8em;
  }
  #top_link>a:not(:last-child) {
    margin-right: 2.5em;
  }
  #top_link>a::before {
    content: ">";
    padding-right: .5em;
  }
  .info_wrapper a {
    position: relative;
    color: #cbcbcb;
    font-weight: lighter;
    text-decoration: none;
    line-height: 1.4em;
    opacity: .9;
    transition: opacity .5s, color .5s;
  }
  .info_wrapper a:hover {
    color: #fff;
    opacity: 1;
  }

  .special_link {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 2em;
  }
  .special_link>a {
    position: relative;
    line-height: 0;
    background-color: #000;
    box-shadow: -1.5px  1.5px  1.5px  1.5px rgba(199, 177, 153, .25),  /* 左下 */
                 1.5px -1.5px  1.5px  1.5px rgba(199, 177, 153, .25),  /* 右上 */
                -1.5px -1.5px  1.5px  1.5px rgba(199, 177, 153, .25),  /* 左上 */
                 1.5px  1.5px  1.5px  1.5px rgba(199, 177, 153, .25);  /* 右下 */
    animation: link_fire 3.5s ease-in-out;
  }
  .special_link>a:not(:last-child) {
    margin-right: 25px;
  }
  .special_link>a>img {
    opacity: .7;
    transition: opacity .5s;
  }
  .special_link>a:hover>img {
    opacity: 1;
  }

  /* --- fotoer --- */
  .footer_wrapper {
    padding-top: 1.5em;
    padding-bottom: 2em;
  }
  .footer_wrapper>ul {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer_wrapper>ul:nth-child(1) {
    margin-bottom: 1em;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1),
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2),
  .footer_wrapper>ul:nth-child(2)>li:nth-child(1) {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1) {
    width: 550px;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center;
    width: 120px;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:not(:nth-child(1)):not(:nth-child(3))>img {
    height: 1.5em;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(1)>img {
    height: 2.5em;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(3)>img {
    height: 1em;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a {
    position: relative;
    display: block;
    width:  2em;
    height: 2em;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a:nth-child(1)::before {
    background-image: url('../../img/common/footer/sns_twitter_m.svg');
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a:nth-child(2)::before {
    background-image: url('../../img/common/footer/sns_facebook_m.svg');
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a:nth-child(3)::before {
    background-image: url('../../img/common/footer/sns_instagram_m.svg');
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    transition: opacity .5s;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a:nth-child(1)::after {
    background-image: url('../../img/common/footer/sns_twitter_c.svg');
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a:nth-child(2)::after {
    background-image: url('../../img/common/footer/sns_facebook_c.svg');
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a:nth-child(3)::after {
    background-image: url('../../img/common/footer/sns_instagram_c.svg');
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a:hover::after {
    opacity: 1;
  }
  .footer_wrapper>ul:nth-child(2)>li:nth-child(1)>img {
    height: 2.8em;
  }
  .footer_wrapper>ul:nth-child(2)>li:nth-child(1)>img:first-child {
    margin-right: 1em;
  }
  .footer_wrapper>ul:nth-child(2)>li:nth-child(2) {
    text-align: right;
    justify-content: flex-end;
  }
  .footer_wrapper>ul:nth-child(2)>li:nth-child(2)>a {
    width: 150px;
  }
  .copy_right {
    font-size: .6em;
  }

}
@keyframes link_fire {
  0% {
    box-shadow: -1.5px  1.5px  1.5px  1.5px rgba(199, 177, 153, .25),  /* 左下 */
                 1.5px -1.5px  1.5px  1.5px rgba(199, 177, 153, .25),  /* 右上 */
                -1.5px -1.5px  1.5px  1.5px rgba(199, 177, 153, .25),  /* 左上 */
                 1.5px  1.5px  1.5px  1.5px rgba(199, 177, 153, .25);  /* 右下 */
  }
  50% {
    box-shadow: -3px  3px 3px 3px rgba(199, 177, 153, .1),  /* 左下 */
                 3px -3px 3px 3px rgba(199, 177, 153, .1),  /* 右上 */
                -3px -3px 3px 3px rgba(199, 177, 153, .1),  /* 左上 */
                 3px  3px 3px 3px rgba(199, 177, 153, .1);  /* 右下 */
  }
  100% {
    box-shadow: -1.5px  1.5px  1.5px  1.5px rgba(199, 177, 153, .25),  /* 左下 */
                 1.5px -1.5px  1.5px  1.5px rgba(199, 177, 153, .25),  /* 右上 */
                -1.5px -1.5px  1.5px  1.5px rgba(199, 177, 153, .25),  /* 左上 */
                 1.5px  1.5px  1.5px  1.5px rgba(199, 177, 153, .25);  /* 右下 */
  }
}
@keyframes show_bg {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  50% {
    opacity: 1;
  }
  100% {
    filter: blur(0);
  }
}
/* tab-phone */
@media all and (max-width: 767px) {
  html, body {
    min-width: 320px;
    font-weight: normal;
    letter-spacing: 0;
  }
  body {
    color: #fff;
  }
  #wide_view {
    display: none;
  }
  #narrow_view {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #scroll_top {
    position: fixed;
    display: none;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  #scroll_top.bottom_fix {
    position: absolute;
    top: 0;
    bottom: auto;
  }
  #scroll_top>div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  #scroll_top>div>img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: auto;
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s;
  }
  #scroll_top>div>img:hover {
    opacity: .6;
  }
  .mt_1em  { margin-top: 1em; }
  .mt_2em  { margin-top: 2em; }
  .mt_3em  { margin-top: 3em; }
  .mt_4em  { margin-top: 4em; }
  .mt_5em  { margin-top: 5em; }
  .mt_6em  { margin-top: 6em; }
  .mt_7em  { margin-top: 7em; }
  .pb_10em { padding-bottom: 10em; }
  .ta_cntr { text-align: center; }
  .fc_blck { color: #121212; }
  .fw_lght { font-weight: lighter; }
  .fw_bold { font-weight: bold; }

  /* ************************************************************** */
  /* contents                                                       */
  /* ************************************************************** */
  /* --- contents --- */
  .mt_1hem { margin-top:  .5em; }
  .mt_2hem { margin-top:   1em; }
  .mt_3hem { margin-top: 1.5em; }
  .mt_4hem { margin-top:   2em; }
  .mt_5hem { margin-top: 2.5em; }
  .mt_6hem { margin-top:   3em; }
  .mt_7hem { margin-top: 3.5em; }
  .width_adjus {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .width_adjus_flip {
    width: 100%;
  }
  
  #pane_L {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
  #contents_wrapper {
    position: relative;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
    text-align: left;
    transition: margin-left .5s;
    background-color: #000;
    z-index: 0;
  }
  #contents_wrapper.open {
    margin-left: -100%;
  }
  .contents {
    position: relative;
    display: block;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6em;
  }
  .contents a.link_local,
  .contents a.link_inline {
    position: relative;
    color: #EE7723;
    text-decoration: underline;
    opacity: 1;
    transition: opacity .5s;
  }
  .contents a.link_local::before {
    content: "\003e\003e\0020";
    letter-spacing: -2px;
  }
  .contents a.link_local:hover,
  .contents a.link_inline:hover {
    opacity: .6;
  }
  .contents ul.list_dot,
  .contents ul.list_notice {
    display: table;
    list-style-type: none;
  }
  .contents ul.list_dot>li,
  .contents ul.list_notice>li {
    display: table-row;
    counter-increment: table-ol;
    font-size: .9em;
  }
  .contents ul.list_dot>li::before {
    content: "\30FB";
    display: table-cell;
    padding-right: .5em;
  }
  .contents ul.list_notice>li::before {
    content: "\203B";
    display: table-cell;
    padding-right: .5em;
  }
  .contents .indent_wrapper {
    padding-left: 1em;
    box-sizing: border-box;
  }
  
  
  /* --- footer --- */
  footer.open {
    margin-left: -100%;
  }
  .footer_wrapper {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    box-sizing: border-box;
    background-color: #000;
  }
  .footer_wrapper>ul {
    flex-direction: column;
    justify-content: space-around;
  }
  footer,
  .footer_wrapper>ul,
  .footer_wrapper>ul>li,
  .footer_wrapper>ul>li a {
    min-height: 0%;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1) {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1.5em;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2) {
    display: none;
  }
  .footer_wrapper>ul:nth-child(2)>li:nth-child(1) {
    flex-direction: row;
    justify-content: center;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a {
    margin-bottom: 1em;
    margin-left:  .2em;
    margin-right: .2em;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:not(:nth-child(1)):not(:nth-child(3))>img {
    height: 1.25em;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(1)>img {
    height: 2em;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(3)>img {
    height: .8em;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(1) {
    order: 1;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(2) {
    order: 2;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(3) {
    order: 5;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(4) {
    order: 3;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(5) {
    order: 6;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(1)>a:nth-child(6) {
    order: 4;
  }
  .footer_wrapper>ul:nth-child(1)>li:nth-child(2)>a:nth-child(2) {
    margin: 0 1.5em;
  }
  .footer_wrapper>ul:nth-child(2)>li:nth-child(1)>img:nth-child(1) {
    width: 100%;
  }
  .footer_wrapper>ul:nth-child(2)>li:nth-child(2) {
    justify-content: center;
    text-align: center;
    padding-top: 1.5em;
  }
  .footer_wrapper>ul:nth-child(2)>li:nth-child(2)>a {
    width: 50%;
    margin: 0 auto .5em;
  }
  .copy_right {
    margin: 0 auto;
    font-size: 2.5vw;
  }

  /* ************************************************************** */
  /* sidemenu                                                       */
  /* ************************************************************** */
  #pane_R {
    position: fixed;
    display: flex;
    top: 0;
    height: 100%;
    flex-direction: row;
    background-image: url('../../img/common/Background_repeat.jpg');
    background-position: center center;
    background-repeat: repeat;
    right: -100%;
    width: 100%;
    transition: right .5s;
  }
  #pane_R.open {
    right: 0;
  }
  #sidemenu_switch {
    position: relative;
    display: block;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
  }
  #sidemenu_list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-top: 4em;
    box-sizing: border-box;
    text-align: left;
    overflow-x: auto;
    padding-left: 5%;
    padding-right: 5%;
  }
  #sidemenu_list>ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
  }
  #sidemenu_list>ul a {
    position: relative;
  }
  #sidemenu_list>ul>li {
    width: 100%;
    position: relative;
  }
  #sidemenu_list>ul>li:first-child {
    margin-bottom: 1.5em;
  }
  #sidemenu_list>ul>li:last-child {
    margin-top: 1.5em;
  }
  #sidemenu_list>ul>li:not(:first-child):not(:last-child) {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  #sidemenu_list>ul>li>a {
    display: inline-block;
    line-height: 0;
  }
  #sidemenu_list>ul svg {
    height: 1.5em;
  }
  #sidemenu_list>ul>li:nth-child(1) svg {
    width: calc( 1.5em * 2.5 );
  }
  #sidemenu_list>ul>li:nth-child(2) svg {
    width: calc( 1.5em * 4 );
  }
  #sidemenu_list>ul>li:nth-child(3) svg {
    width: calc( 1.5em * 7 );
  }
  #sidemenu_list>ul>li:nth-child(4) svg {
    width: calc( 1.5em * 5.5 );
  }
  #sidemenu_list>ul>li:nth-child(5) svg {
    width: calc( 1.5em * 9 );
  }
  #sidemenu_list>ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 3em;
  }
  #sidemenu_list>ol>li {
    display: block;
    width:  2.5em;
    height: 2.5em;
  }
  #sidemenu_list>ol>li>a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  #sidemenu_list>ol>li>a::before,
  #sidemenu_list>ol>li>a::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #292929;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #sidemenu_list>ol>li>a::after {
    opacity: 0;
  }
  #sidemenu_list>ol>li:nth-child(1)>a::before {
    background-image: url('../../img/common/footer/sns_twitter_m.svg');
  }
  #sidemenu_list>ol>li:nth-child(2)>a::before {
    background-image: url('../../img/common/footer/sns_facebook_m.svg');
  }
  #sidemenu_list>ol>li:nth-child(3)>a::before {
    background-image: url('../../img/common/footer/sns_instagram_m.svg');
  }
  .svg_menu {
    fill: #afafaf;
    transition: fill .5s;
  }
  .svg_menu:hover {
    fill: #fff;
  }
  
  
  /* ************************************************************** */
  /* side menu icon                                                 */
  /* ************************************************************** */
  .menu_icon_t {
    background-image: url('../../img/common/menu_button_o.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .menu_icon_t.active {
    background-image: url('../../img/common/menu_button_c.svg');
  }
  .menu_icon_t {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 22px;
    z-index: 2;
    cursor: pointer;
  }
  .menu_icon_r {
    display: none;
  }
  
  
  /* ************************************************************** */
  /* language choice                                                */
  /* ************************************************************** */
  #lang_choice_bg {
    display: none;
  }
  #lang_choice_fm {
    padding: 0 5%;
  }
  #lang_choice_fm>h1 {
    margin-top: 1.5em;
    line-height: 1.5em;
  }
  #lang_choice_fm>ul>li {
    flex-basis: 100%;
  }
  #lang_choice_fm>ul>li:nth-child(3) {
    padding-bottom: 5em;
  }
  #lang_choice_fm>ul>li>ol>li {
    flex-basis: 50%;
    padding-top: .5em;
    padding-bottom: .5em;
  }
  #close_lang {
    position: relative;
    width: 20%;
    margin: 1.5em auto;
  }

  /* ************************************************************** */
  /* first view                                                     */
  /* ************************************************************** */
  #first_view {
    position: fixed;
    display: block; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  #first_view::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../img/common/page_logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
  }
  #bg_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #151515;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    z-index: 0;
    transition: opacity 1s ease-in-out;
  }
  #bg_img.view {
    opacity: 1;
  }
  #bg_img>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
  }
  #announce_down {
    position: absolute;
    bottom: 1em;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 10%;
    height: auto;
    transition: bottom, opacity, 1s;
  }
  #announce_down.roop {
    bottom: .5em;
  }
  #announce_down.hide {
    opacity: 0;
  }
  #mov_info_n {
    position: absolute;
    bottom: 11%;
    left: 0;
    width:  100%;
    height: 100%;
    overflow: hidden;
  }
  #mov_info_n>ol {
    width: calc( 25% * 28 );
  }
  #mov_info_n>ol.y_94 { left:   13%; }
  #mov_info_n>ol.y_95 { left:  -12%; }
  #mov_info_n>ol.y_96 { left:  -37%; }
  #mov_info_n>ol.y_97 { left:  -62%; }
  #mov_info_n>ol.y_98 { left:  -87%; }
  #mov_info_n>ol.y_99 { left: -112%; }
  #mov_info_n>ol.y_00 { left: -137%; }
  #mov_info_n>ol.y_01 { left: -162%; }
  #mov_info_n>ol.y_02 { left: -187%; }
  #mov_info_n>ol.y_03 { left: -212%; }
  #mov_info_n>ol.y_04 { left: -237%; }
  #mov_info_n>ol.y_05 { left: -262%; }
  #mov_info_n>ol.y_06 { left: -287%; }
  #mov_info_n>ol.y_07 { left: -312%; }
  #mov_info_n>ol.y_08 { left: -337%; }
  #mov_info_n>ol.y_09 { left: -362%; }
  #mov_info_n>ol.y_10 { left: -387%; }
  #mov_info_n>ol.y_11 { left: -412%; }
  #mov_info_n>ol.y_12 { left: -437%; }
  #mov_info_n>ol.y_13 { left: -462%; }
  #mov_info_n>ol.y_14 { left: -487%; }
  #mov_info_n>ol.y_15 { left: -512%; }
  #mov_info_n>ol.y_16 { left: -537%; }
  #mov_info_n>ol.y_17 { left: -562%; }
  #mov_info_n>ol.y_18 { left: -587%; }
  #mov_info_n>ol.y_19 { left: -612%; }
  #mov_info_n>ol.y_20 { left: -637%; }
  #nav_wrapper_n {
    left: -220%;
    width: 320%;
  }
  #nav_title_n {
    font-size: 1em;
    word-break: keep-all;
    text-decoration: none;
  }
  #products_copyright {
    position: absolute;
    display: block;
    left: 0;
    bottom: 8%;
    font-size: .8em;
    font-weight: lighter;
    color: #afafaf;
    padding: 0 1em;
    box-sizing: border-box;
    letter-spacing: 0;
    line-height: 1em;
    opacity: 0;
    transition: opacity .5s;
  }
  #products_copyright.show {
    opacity: 1;
  }
  
  #main_contents {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 4em;
    box-sizing: border-box;
    background-image: url('../../img/common/Background_repeat.jpg');
    background-position: center center;
    background-repeat: repeat;
  }
  #main_contents.hide {
    visibility: hidden;
  }
  
  #link_slider {
    position: relative;
    width: 100%;
    z-index: 0;
  }
  #link_slider::before {
    content: "";
    display: block;
    padding-top: 46.3%;
  }
  #link_slider::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #e0e0e0;
    z-index: 1;
  }
  #nav_bar {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 5px;
    border: none;
    margin: 0;
    padding: 0;
    background-color: #969696;
    z-index: 2;
  }
  #link_slider>a {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
    opacity: 0;
    transition: opacity 1s;
  }
  #link_slider>a.curr {
    opacity: 1;
    z-index: 1;
  }
  #link_slider img {
    width: 100%;
    height: auto;
  }
  
  .top_info,
  #top_menu {
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 3em;
  }
  .top_info {
    width: 100%;
  }
  #top_menu,
  #site_list {
    width: 90%;
  }
  .top_info>ul,
  #top_menu>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
  .top_info>ul>li {
    padding-top: .5em;
    padding-bottom: 1em;
    border-top: 1px solid #c7c7c7;
    box-sizing: border-box;
  }
  .top_info>ul>li:last-child {
    border-bottom: 1px solid #c7c7c7;
  }
  #top_menu>ul>li {
    padding-top:    1.5em;
    padding-bottom: 1.5em;
  }
  .top_info>img {
    margin: 0 0 .5em 5%;
    height: .9em;
  }
  .top_info span {
    display: block;
    font-size: .8em;
    line-height: 2em;
  }
  .top_info a {
    font-size: .9em;
    color: #cbcbcb;
  }
  
  #top_menu img {
    max-width: 100%;
    width: auto;
    height: 8vw;
  }
  #site_list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
  }
  #site_list>a {
    color: #cbcbcb;
    text-decoration: none;
    margin-bottom: 1em;
  }
  #site_list>a::before {
    content: ">";
    margin-right: .5em;
    box-sizing: border-box;
  }
}

/* ************************************************************** */
/* landscape                                                      */
/* ************************************************************** */
@media all and (max-width: 767px) and (orientation: landscape) {
  #first_view::after {
    background-position: 50% 15%;
    background-size: 50%;
  }
  #mov_info_n {
    bottom: 2.5%;
  }
  #products_copyright {
    bottom: 0;
  }
}
